@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.bioWrapper {
    height: 100%;
    width: 100%;
    background-image: url("https://stmed.net/sites/default/files/leather-textures-wallpapers-25244-3443181.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.buttonHolder3 {
    position: absolute;
    top: 200%;
    left: 50%; 
}

.bioHolder {
  height:500px;
  width: 350px;
  background-color: rgb(29, 29, 29);
  -moz-box-shadow: 0 0 15px #ccc;
  -webkit-box-shadow: 0 0 15px #ccc;
  box-shadow: 0 0 15px;
  margin-top: 0;
  margin-bottom:0;
  text-align: center;
  position: relative;
  bottom: 150px;
  display: inline-block;
}

.scrollDown {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
  }

.scrollDown:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6.75px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.bioHeading {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.bio {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    size: 14px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: left;
    line-height: 20px;
}

.bioTwo {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: left;
  line-height: 20px;
}

@media only screen and (min-width: 960px) {
    p.bio {
        line-height: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }

    p.bioTwo {
      line-height: 30px;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 40px;
    }

    div.bioHolder {
        float: left;
        width: 40%;
        height: 60%;
        margin-top: 300px;
    }

    h1.bioHeading {
      font-size: 40px;
    }
}