@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.scrollDown {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }

.scrollDown {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
  }

.scrollDown:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6.75px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.buttonHolder3 {
    position: absolute;
    top: 300%;
    left: 50%; 
}

h1.skillsHeading {
    font-family:'Roboto Condensed', Sans-Serif;
    color: white;
    size: 45px;
}

div.skillsWrapper {
    height: 100%;
    width: 100%;
    background-image: url("https://wallpaperaccess.com/full/250502.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

div.skillsHolder {
    height: 575px;
    width: 350px;
    background-color: rgb(29, 29, 29);
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px;
    margin-top: 200px;
    margin-bottom:50px;
    text-align: center;
    position: relative;
    bottom: 150px;
    display: inline-block;
}

.img1, .img2, .img3 {
    display: block;
    margin-left: 10px;
    height: 150px;
    width: 330px;
}

.skillsText {
  color: white;
  margin-top: 20px;
}

.pictureHolder {
  display: none;
}


@media only screen and (min-width: 760px) {
    div.skillsHolder {
        float:right;
        width: 900px;
        height: 85%;
        margin-top: 11%;
    }

    h1.skillsHeading {
      font-size: 35px;
    }

    .img1, .img2, .img3 {
        display: block;
        margin-left: calc(50% - 165px);
        height: 125px;
        width: 300px;
    }
}

/* Styles for astronaut image */

@media only screen and (min-width: 760px) and (max-width: 1200px) {
  .pictureHolder {
    display: none !important;
  }
}


@media only screen and (min-width: 1200px) {
  .pictureHolder {
    display: block;
    width: 100px;
    height: 300px;
    float: left;
    margin-left: 125px;
    margin-top: 350px;
    transform: rotate(-20deg);
  }

  .skillsAstro {
    width: 200px;
    height: auto;
  }
}

/*

/* Styles for extra small mobile screens */
@media only screen and (max-width: 380px) and (max-height: 670px) {
  .skillsHolder {
    height: 575px !important;
    margin-top: 175px !important;
  }

  .buttonHolder3 {
    top: 302%;
  }
}

/* iPhone 6/7/8 PLUS */

@media only screen and (max-height: 740px) and (min-height: 675px) and (max-width: 450px) {
  .skillsHolder {
    height: 585px !important;
  }
}

/**/

/* iPad Styles */

@media only screen and (device-width: 1024px) and (device-height: 1366px) {

}

@media only screen and (device-width: 1024px) and (device-height: 1366px) {

}

/**/




