* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.nav {
  height: 50px;
  width: 50%;
  background-color: black;
  position: absolute;
  left: 25%;
  top: 0;
  box-shadow: 0 10px 10px -2px rgba(0, 0, 0, 0.774);
}


/* Styles for nav bar brackets on hover */
.nav > .navHeader {
  display: inline;
}

.nav > .navHeader > .navTitle {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .navBtn {
  display: none;
}

.nav > .navLinks {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 20px;
}

.nav > .navLinks > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .navLinks > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #navCheck {
  display: none;
}

.nav a::before,
.nav a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.nav a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.nav a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.nav a:hover::before,
.nav a:hover::after,
.nav a:focus::before,
.nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


.nav a:hover::after,
.nav a:focus::after {
	top: 0%;
	opacity: 1;
}

/**/

a.bioLink, a.skillsLink, a.projectsLink, a.contactInfoLink {
  font-family: 'Cabin', Sans-Serif;
}

/* Remove nav bar for smaller screens */

@media only screen and (max-width: 750px) {
  .nav {
    display: none !important;
  }
}

/**/ 

/* iPad Styles */

@media only screen and (device-width: 768px) and (device-height: 1024px) {
  div.nav {
    height: 60px;
    width: 55%;
    left: calc(50% - 27.5%);
  }


  a {
    font-size: 21px;
  }

  a::after {
    display: none !important;
  }

  a::before {
    display: none !important;
  }
}

@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  div.nav {
    height: 60px;
  }
  
  a {
    font-size: 22px;
  }

  a::after {
    display: none !important;
  }
  
  a::before {
    display: none !important;
  }
}

/**/ 