@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.scrollDown {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1)
  }

.scrollDown:before {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 6.75px);
    transform: rotate(135deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.buttonHolder3 {
    position: absolute;
    top: 500%;
    left: 50%; 
}

div.contactInfoWrapper {
    width: 100%;
    height: 100%;
    background-image: url("https://www.elsetge.cat/myimg/f/143-1437980_4k-starry-night-sky-4k.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

div.contactInfoHolder {
    height:500px;
    width:350px;
    display: inline-block;
    margin-top: 125px;
    background-color: rgb(29, 29, 29);
    -moz-box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px;
    text-align: center;
}

p.contact {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 22px;
    margin-top: 50px;
}

.contactHeader {
  color: white;
  font-size: 40px;
}

.contactInfoLink {
  padding-left: 15px;
}

@media only screen and (min-width: 760px) {
   div.contactInfoHolder {
       display: inline-block;
       width: 40%;
       height: 55%;
   }

}

/* Styles for extra small mobile screens */
@media only screen and (max-width: 380px) {
  .contactInfoHolder {
    margin-top: 70px !important;
  }
}