div.mainWrapper {
    height: 100%;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.164)), url("https://images.wallpaperscraft.com/image/milky_way_starry_sky_galaxy_119519_1920x1080.jpg");
    background-size: cover;
}

.titleSection {
    height: 100%;
}

.bioSection {
    height: 100%;
}

.skillsSection {
    height: 100%;
}

.projectsSection {
    height: 100%;
}

.contactSection {
    height: 100%;
}


@keyframes scrollH {
  100% {
    /* reverse scroll */
    background-position: calc(-1 * var(--bg-width)) 0;
  }
}

@media only screen and (min-width: 960px) {
    div.mainWrapper {
        --bg-width: 1920px;
        --bg-height: 1900px;
        background-repeat: repeat-x;
        background-position: 0 0;
        background-size: var(--bg-width) 100%;
        background-attachment: fixed;
        animation: scrollH linear 66s infinite;
        transform: translate3D(0,0,0);
        will-change: background-position;

    }

}